@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@700&display=swap");

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body, textarea {
  font-family: 'Saira Condensed', sans-serif;
}

.CheckoutApp .pageLayout {
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.CheckoutApp main {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  flex: 1;
  padding: 3rem 0.75rem 12rem 0.75rem;

  background-color: #fcfcfc;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 1rem;
}

.CheckoutApp .sidePanel {
  box-sizing: border-box;
  width: 100%;
  min-height: 8rem;
  background-color: #26B1CE;
  padding: 1rem 0.75rem 1rem 0.75rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.CheckoutApp h1,
.CheckoutApp h2,
.CheckoutApp h3
{
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #333;
}

.CheckoutApp .headerTopGap {
  margin-top: 0.75em;
}

.CheckoutApp .headerBottomGap {
  margin-bottom: 0.75em;
}

.CheckoutApp .inverseText * {
  color: #A4F1FE !important;
}

@media (max-width: 360px) {
  html {
    font-size: 100%;
  }

  .CheckoutApp main {
    width: 100%;
  }
}

@media (min-width: 360px) and (max-width: 400px) {
  html {
    font-size: 100%;
  }

  .CheckoutApp main {
    width: 100%;
  }
}

@media (min-width: 400px) and (max-width: 688px) {
  html {
    font-size: 100%;
  }

  .CheckoutApp main {
    width: 100%;
  }
}

@media (min-width: 688px) and (max-width: 992px) {
  html {
    font-size: 100%;
  }

  .CheckoutApp main {
    width: 640px;
  }
}

@media (min-width: 992px) and (max-width: 1312px) {
  html {
    font-size: 110%;
  }

  .CheckoutApp .pageLayout {
    flex-direction: row;
  }

  .CheckoutApp .sidePanel {
    width: 20rem;
    min-height: 100%;
    align-self: stretch;
    padding: 3rem 1rem 12rem 1rem;
  }

  .CheckoutApp main {
    width: 720px;
    padding: 3rem 5rem 12rem 5rem;
  }
}

@media (min-width: 1312px) {
  html {
    font-size: 120%;
  }

  .CheckoutApp .pageLayout {
    flex-direction: row;
  }

  .CheckoutApp .sidePanel {
    width: 20rem;
    min-height: 100%;
    align-self: stretch;
    padding: 3rem 1rem 12rem 1rem;
  }

  .CheckoutApp main {
    width: 800px;
    padding: 3rem 8rem 12rem 8rem;
  }
}
