.form {
    display: flex;
    flex-direction: column;
}

.inputWrapper {
    border-radius: 32px;
    background-color: white;
}

.inputLabel {
    margin: 7px 0px 0px 16px;
    color: #4fa1f9;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
}

@media screen and (min-width: 62em) {
    .inputLabel {
        font-size: 10px;
    }
}