.voicePickingInputWrapper > button > span > svg {
    position: absolute;
}

.voicePickingInputWrapper > button {
    font-weight: bold;
    padding-left: 28px;
    color: black;
    display: flex;
    border: none;
    bottom: 6px;
    position: relative;
}

.voicePickingInputWrapper > button > span {
    display: flex;
}
