.voicePickingDateInput {
    width: 100%;
    padding: 0px 0px 0px 1.25rem !important;
    bottom: 0.5rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #828c99 !important;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #828c99 !important;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #828c99 !important;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #828c99 !important;
  }


.voicePickingDateInput > div {
    color: black !important;
    font-weight: bold;
    font-size: 1.375rem !important;
    font-family: "Roboto Condensed" !important;
}

.voicePickingDateInput > div > div > button {
    padding: 0;
    padding-right: 0.8rem;
    padding-bottom: 0.8rem;
}

.voicePickingDateInputIcon {
    color: black !important;
}

.voicePickingDateInputIcon > span > svg {
    font-size: 2rem !important;
}
