.voicePickingDateInput {
    padding: 0px 0px 0px 1.25rem !important;
    bottom: 0.5rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #828c99 !important;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #828c99 !important;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #828c99 !important;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #828c99 !important;
  }

.voicePickingInputWrapper {
    background-color: white;
    box-shadow: 0px 6px 12px 0px #0000005E;
}

.voicePickingInputLabel {
    padding: 12px 0px 0px 28px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
}

.voicePickingDateInput > div {
    color: black !important;
    font-weight: bold;
    font-size: 22px !important;
}

@media screen and (min-width: 62em) {
    .voicePickingDateInput > div {
        font-size: 28px !important;
    }
}


.voicePickingDateInput > div > div > button {
    padding: 0;
    padding-right: 13px;
    padding-bottom: 20px;
}

.voicePickingDateInputIcon {
    color: black !important;
}

.voicePickingDateInputIcon > span > svg {
    font-size: 32px !important;
}

@media screen and (min-width: 62em) {
    .voicePickingDateInputIcon > span > svg {
        font-size: 48px !important;
    }
}

