.inputWrapper > button > span > svg {
    position: absolute;
}

.inputWrapper > button {
    font-weight: bold;
    padding-left: 1rem;
    color: #0f4e92;
    display: flex;
    border: none;
    bottom: 0.375rem;
    position: relative;
}

.inputWrapper > button > span {
    display: flex;
}
