.checkboxWrapper {
    display: flex;
    padding-top: 0.625rem;
    align-items: center;
    align-self: baseline;
    padding-left: 2px;
}

.checkboxSelected {
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    box-shadow: inset 0 0 10px #000000;
}

.checkboxNotSelected {
    background-color: #d1dcec;
    border-radius: 50%;
    box-shadow: 0px 6px 12px 0px #388DE95E;
    cursor: pointer;
}

.checkboxLabel {
    margin-left: 5px;
    color: #0f4e92;
    font-weight: bold;
    text-transform: uppercase;
}
